      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <%= link_to "Order Management", root_path, class: "navbar-brand" %>
          </div>
          <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
  
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                  <ul class="dropdown-menu">

                      <li>
                          <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                      </li>
                  </ul>
              </li>
          </ul>
          <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav" id="side-nav" >
                  <li>
                    <%= link_to("<i class='fa fa-home'></i> Home".html_safe , root_path) %>
                  </li>
                  <li>
                    <%= link_to("<i class='fa fa-users'></i> Customers".html_safe, customers_path) %>
                  </li>
                  <li>
                    <%= link_to("<i class='fa fa-shopping-cart'></i> Orders".html_safe, orders_path)%>
                  </li>
                  <li>
                    <%= link_to("<i class='fa fa-cogs'></i> Widgets".html_safe, widgets_path) %>
                  </li>


              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </nav>